In [6]:
# import modules
import pandas as pd
import os
import csv

In [14]:
# import file
data_file_1 = "raw_data/election_data_1.csv"
data_file_pd1 = pd.read_csv(data_file_1)
data_file_2 = "raw_data/election_data_2.csv"
data_file_pd2 = pd.read_csv(data_file_2)

In [ ]:
# combine data files
data_file_combine = pd.concat([data_file_pd,data_file_pd])
data_file_combine

In [21]:
# The total number of votes cast
total_votes = data_file_combine["Voter ID"].count()
total_votes

7042002

In [25]:
# A complete list of candidates who received votes
data_file_combine["Candidate"].unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [30]:
# The percentage of votes each candidate won
vote_percentage = data_file_combine["Candidate"].value_counts()/total_votes
vote_percentage

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [33]:
# The total number of votes each candidate won
vote_candidates = data_file_combine["Candidate"].value_counts()
vote_candidates

Khan        4436462
Correy      1408400
Li           985880
O'Tooley     211260
Name: Candidate, dtype: int64

In [42]:
# The winner of the election based on popular vote.
winner_df = pd.DataFrame(vote_candidates)
winner_df

          Candidate
Khan        4436462
Correy      1408400
Li           985880
O'Tooley     211260

In [45]:
winner = winner_df.max()
winner

Candidate    4436462
dtype: int64