In [82]:
# import modules
import pandas as pd
import os
import csv

In [83]:
file = input("Which file do you want to open? (1)or(2)")

Which file do you want to open? (1)or(2)2

In [84]:
# import file
data_file = "raw_data/budget_data_" + file + ".csv"
data_file_pd = pd.read_csv(data_file)

In [85]:
# The total number of months included in the dataset
count = data_file_pd["Date"].count()
count

86

In [86]:
# The total amount of revenue gained over the entire period
total = data_file_pd["Revenue"].sum()
total

36973911

In [87]:
# The average change in revenue between months over the entire period
averagechange = total / count
averagechange

429929.19767441862

In [88]:
max = data_file_pd.max()
max

Date       Sep-2015
Revenue     1141606
dtype: object

In [89]:
min = data_file_pd.min()
min

Date       Apr-2009
Revenue    -1063151
dtype: object

In [90]:
data_to_save = pd.DataFrame({
    "Total Months :": [count],
    "Total Revenue :": [total],
    "Average Revenue Change :": [averagechange],
    "Greatest Increase in Revenue :": [max],
    "Greatest Decrease In Revenue :": [min],
})
data_to_save

,Average Revenue Change :,Greatest Decrease In Revenue :,Greatest Increase in Revenue :,Total Months :,Total Revenue :
0,429929.197674,Date Apr-2009 Revenue -1063151 dtype:...,Date Sep-2015 Revenue 1141606 dtype:...,86,36973911

In [91]:
data_to_save.columns

Index(['Average Revenue Change :', 'Greatest Decrease In Revenue :',
       'Greatest Increase in Revenue :', 'Total Months :', 'Total Revenue :'],
      dtype='object')

In [92]:
data_to_save_organized = data_to_save[["Total Months :",
                                       "Total Revenue :",
                                       "Average Revenue Change :",
                                       "Greatest Increase in Revenue :",
                                       "Greatest Decrease In Revenue :"]]
data_to_save_organized

,Total Months :,Total Revenue :,Average Revenue Change :,Greatest Increase in Revenue :,Greatest Decrease In Revenue :
0,86,36973911,429929.197674,Date Sep-2015 Revenue 1141606 dtype:...,Date Apr-2009 Revenue -1063151 dtype:...

In [97]:
data_to_save_organized.to_csv("PyBankAnalysis.csv")